<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-xl-4">
        <div class="card">
            <div class="card-header">
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active " routerLink="/login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " routerLink="/crear">Crear Cuenta</a>
                        </li>
                    </ul>
            </div>
            <div class="card-body">
              <h2 style="text-align: center;">Creando una nueva Cuenta</h2>

              <ul class="alert alert-danger px-5"  *ngIf="errores?.length > 0">
                <li *ngFor="let err of errores">
                    {{err}}
                </li>
            </ul>
                <form >
                    <div class="row my-3">
                        <label  class="col-3 col-form-label">Nombre</label>
                        <div class="col-9">
                            <input   [(ngModel)]="user.nombre"
                             type="text" name="nombre"
                             class="form-control  p-2"  placeholder="Digite el nombre">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label class="col-3 col-form-label">Username</label>
                        <div class="col-9">
                            <input [(ngModel)]="user.username" type="text" name="username" id="username"  
                             class="form-control  p-2" placeholder="Digite el username">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label class="col-3 col-form-label">Email</label>
                        <div class="col-9">
                            <input [(ngModel)]="user.email" type="text" name="email" id="email"  
                             class="form-control  p-2" placeholder="Digite el email">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label class="col-3 col-form-label">Password</label>
                        <div class="col-9">
                            <input [(ngModel)]="user.password" type="password" name="password" id="password"  
                             class="form-control  p-2" placeholder="Digite el password">
                        </div>
                    </div>
                    <div class="row my-3 p-3">
                            <button  (click)="create()" class="btn btn-outline-success btn-block" type="submit">
                                Crear Nuevo usuario</button>
                        
                    </div>
            </form>
           
            </div>
            
        </div>
    </div>
</div>